<?xml version="1.0" encoding="UTF-8"?>
<Context path="/vcr">
<!-- *******
     * VCR *
     ******* -->

    <Resource name="jdbc/VirtualCollectionStore" auth="Container"
                    type="javax.sql.DataSource"
                    maxTotal="8" maxIdle="4" maxWaitMillis="10000"
              removeAbandonedOnBorrow="true"
              removeAbandonedOnMaintenance="true"
                    defaultAutoCommit="false"
                    driverClassName="com.mysql.cj.jdbc.Driver"
                    validationQuery="SELECT 1"
                    username="vcruser"
                    password="vcrpassword"
                    url="jdbc:mysql://localhost:3306/vcr" />

<!--
    <Resource name="jdbc/VirtualCollectionStore" auth="Container"
              type="javax.sql.DataSource"
              maxTotal="8" maxIdle="4" maxWaitMillis="10000"
              removeAbandonedOnBorrow="true"
              removeAbandonedOnMaintenance="true"
              defaultAutoCommit="false"
              driverClassName="org.postgresql.Driver"
              validationQuery="SELECT 1"
              username="vcruser"
              password="vcrpassword"
              url="jdbc:postgresql://localhost:5432/vcr" />
-->
    <Parameter
               name="eu.clarin.cmdi.virtualcollectionregistry.admindb.basedir"
               value="/Users/wilelb/" override="false"/>

    <Parameter name="eu.clarin.cmdi.virtualcollectionregistry.admindb"
               value="vcr-admin.conf" override="false"/>

    <Parameter name="eu.clarin.cmdi.virtualcollectionregistry.collectiondisplayname"
               value="CLARIN Virtual Collection Registry" />

    <Parameter name="eu.clarin.cmdi.virtualcollectionregistry.base_uri"
               value="http://localhost:8080/"
               override="false"/>

    <!-- Configure pid providers configuration -->
    <Parameter name="eu.clarin.cmdi.virtualcollectionregistry.pidprovider.basedir"
               value="/Users/wilelb/"
               override="false"/>

    <Parameter name="eu.clarin.cmdi.virtualcollectionregistry.pidprovider.configfile"
               value="pidproviders.properties"
               override="false"/>

    <!--
        Available profiles:
        - vcr.pid.dummy
        - vcr.pid.gwdg
        - vcr.pid.epic
        - vcr.pid.doi
        - vcr.pid.multi
    -->
    <Parameter name="spring.profiles.active"
               value="vcr.pid.multi"
               override="false"/>

    <!-- EPIC -->
    <Parameter name="pid_provider.epic.service_base_url"
               value="http://pid-vm04.gwdg.de:8080/handles/"
               override="false"/>
    
    <Parameter name="pid_provider.epic.handle_prefix"
               value="11148"
               override="false"/>
    
    <Parameter name="pid_provider.epic.user"
               value="clarintest1"
               override="false"/>
    
    <Parameter name="pid_provider.epic.password"
               value=""
               override="false"/>

    <!-- DataCite DOI test environment -->
    <Parameter name="pid_provider.doi.service_base_url"
               value="https://api.test.datacite.org/"
               override="false"/>

    <Parameter name="pid_provider.doi.handle_prefix"
               value="10.17907"
               override="false"/>

    <Parameter name="pid_provider.doi.user"
               value=""
               override="false"/>

    <Parameter name="pid_provider.doi.password"
               value=""
               override="false"/>

    <!-- Switchboard endpoint -->
    <Parameter name="eu.clarin.cmdi.vcr.lrs.endpoint" 
               value="https://switchboard.clarin.eu/#/vcr" 
               override="false"/>
    
    <!-- Enable switchboard ingegration for resources -->
    <Parameter name="eu.clarin.cmdi.vcr.lrs.enable_for_resources" 
               value="true" 
               override="false" />
    
    <!-- Enable switchboard ingegration for collections -->
    <Parameter name="eu.clarin.cmdi.vcr.lrs.enable_for_collections" 
               value="false" 
               override="false" />
    
    
    <!--
    <Parameter name="eu.clarin.cmdi.vcr.piwik.enableTracker" 
               value="false" 
               override="false"/>
    
    <Parameter name="eu.clarin.cmdi.vcr.piwik.siteId" 
               value="1" 
               override="false" />
    
    <Parameter name="eu.clarin.cmdi.vcr.piwik.host" 
               value="https://stats.clarin.eu/" 
               override="false" />
       
     <Parameter name="eu.clarin.cmdi.vcr.piwik.domains" 
               value="*.vcr.clarin.eu" 
               override="false" />   
    -->
    
    <Parameter name="eu.clarin.cmdi.vcr.logout_mode" 
               value="shibboleth" 
               override="false" />
    
    <Parameter name="eu.clarin.cmdi.vcr.logout_enable" 
               value="false" 
               override="false" />
    
    <Parameter name="eu.clarin.cmdi.vcr.snippet.survey" 
               value="survey.html" 
               override="false" />
    
    <Parameter name="eu.clarin.cmdi.vcr.snippet.credits" 
               value="credits.html" 
               override="false" />
    
    <Parameter name="eu.clarin.cmdi.vcr.mode" 
               value="alpha" 
               override="false" />

    <Parameter name="eu.clarin.cmdi.vcr.forking.enabled"
               value="true"
               override="false" />
    
    <Parameter name="eu.clarin.cmdi.vcr.reference_scanning.enabled"
               value="true"
               override="false" />  
    
</Context>
