<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/">
    <head />
    <body>
        <wicket:panel>
            <div class="form-group">
                <p>
                    The persistent identifier for the selected <b wicket:id="context1">[context]</b> is:
                </p>
                <div class="input-group">
                    <input class="form-control" type="text" readonly="readonly" aria-descibedby="copy-addon" wicket:id="pid" id="pid-input" />
                    <span class="input-group-btn">
                        <button class="btn btn-default clipboard" title="Copy to clipboard" type="button" data-bs-clipboard-target="#pid-input">
                            <span class="glyphicon glyphicon-copy"></span>
                        </button>
                    </span>
                </div>
                <p>
                    You can use this <b wicket:id="type">persistent identifier</b> to reference the 
                    selected <span  wicket:id="context2">[context]</span> online and in publications, 
                    or use it with tools that support handles.
                </p>
                <div class="panel panel-default">
                    <div class="panel-body">
                        This identifier resolves to:                        
                        <p wicket:id="hdl-target">HDL target</p>
                    </div>
                </div>
            </div>
        </wicket:panel>
    </body>
</html>
    