*.iml
.idea
nbactions.xml
nbactions-development.xml
nb-configuration.xml
migrate-svn-to-git.sh
users.txt
/target/
docker/target
/bin/
**.DS_Store
bin/
nbactions-development.xml
nbactions.xml
docker/server.jks
docker/vcr-admin.conf
docker/vcr/
docker/webapps
docker/vcr_mysql_dump.sql
tmp
