<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/">
    <head />
    <body>
        <wicket:panel>
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12"><h4>Details</h4></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Title:</div>
                    <div class="col-md-10"><span wicket:id="title"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Authors:</div>
                    <div class="col-md-10"><span wicket:id="authors"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Year:</div>
                    <div class="col-md-10"><span wicket:id="year"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Link</div>
                    <div class="col-md-10"><span wicket:id="link"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-12 bibtex">
                        <h4>BibTeX</h4>
                        <pre wicket:id="bibtex"></pre>
                    </div>
                </div>
            </div>
            
        </wicket:panel>
    </body>
</html>
