<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/">
<head />
<body>
<wicket:panel>
    <div class="container-fluid">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#latest" aria-controls="latest" role="tab" data-bs-toggle="tab">Latest</a></li>
            <li role="presentation" class="active"><a href="#current" aria-controls="current" role="tab" data-bs-toggle="tab">Current</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="current">
                <div wicket:id="current"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="latest">
                <div wicket:id="latest"></div>
            </div>
        </div>

    </div>
</wicket:panel>
</body>
</html>
