* {
    margin: 0;
    /*    padding: 0; */	
}

html {
    overflow-y: scroll
}

html, body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    line-height: 1;
    height: 100%;
    color: #000000;
    /*    background-color: #E9EEFA; */
    width: 990px;
    min-width: 990px;
    height: 100%;
}

noscript {
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

#noscript-warning {
    color: #FFFFFF;
    background-color: #AE0000;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

#header {
    border-top: 2px solid #D4DEEF;
}

#header-logo {
    margin: 0;
    padding: 5px; 
    height: 70px;
    color: #004071;
    background-color: #E9EEF7;
}

#header-logo #clarin-logo {
    background: transparent url('../images/clarin-logo.png') no-repeat;
    float: left;
    width: 298px;
    height: 70px;
}

#header-logo #ids-logo {
    background: transparent url('../images/ids-logo.png') no-repeat;
    float: right;
    width: 55px;
    height: 70px;
}

#header-logo h1 {
    margin: 0 55px 0 298px;
    padding: 0 32px 0 32px;
    height: 70px;
    line-height: 70px;
    font-size: 34px;
    font-weight: bold;
    font-variant: small-caps;
}

#navigation {
    margin: 0;
    padding: 0;
    height: 20px;
    clear: both;
    color: #000000;
    background-color: #D4DEEF;
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
}

#menu {
    margin: 0 100px 0 0;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    float: left;
    margin-left: 4px;
}

#menu a, #menu span.active {
    display: block;
    margin: 0;
    padding: 4px 8px;
    width: auto;
    height: 12px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

#menu ul li + #menu ul li {
    border-left: 1px solid black;
}

#menu a, #menu a:active, #menu a:visited {
    color: #000000;
    background-color: inherit;
}

#menu a:hover {
    color: #AE0000;
    background-color: #E9EEF7;
}

#menu span.active {
    font-style: italic;
}

#login {
    float: right;
    padding: 4px 4px 4px 4px;
    width: auto;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
    color: #000000;
    background-color: #FFFFFF;
    border-left: 2px solid #D4DEEF;
    border-right: 2px solid #D4DEEF;
}

#content {
    margin: 0;
    padding: 0;
}

#container .push {
    height: 20px;
    width: auto;
}

#footer {
    padding: 0 4px;
    margin: 0 auto;
    height: 18px;
    line-height: 18px;
    text-align: right;
    color: #004071;
    background-color: #D4DEEF;
    border-left: 2px solid #D4DEEF;
    border-right: 2px solid #D4DEEF;
    border-bottom: 2px solid #D4DEEF;
}

/* general */
input, select, textarea {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    border: 1px solid #000000;
}

/*
 * wizard
 */
div.wizard .wicketExtensionsWizardHeaderTitle {
    padding: 0px 10px;
    font-size: 16px;
    font-weight: bold;
}

div.wizard .wicketExtensionsWizardHeaderSummary {
    padding: 5px 10px 0 10px;
    font-style: italics;
}

div.wizard .wizardHeader {
    border-bottom: 1px solid #000000;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

form.wizard {
    margin: 5px 4px;
    padding: 0;
    font-size: 100%;
    width: 978px;
    min-width: 978px;
}

form.wizard fieldset,
div.wizard div.fieldset {
    clear: both;
    font-size: 100%;
    border: none;
    padding: 0 10px 0 10px;
    margin: 0 0 0 0;
}

/*
form.wizard fieldset legend {
  font-size: 150%;
  font-weight: normal;
  color: #000000;
  margin: 0 0 0 0;
  padding: 0 5px;
}

div.wizard label {
  font-size: 100%;
}

div.wizard label u {
  font-style: normal;
  text-decoration: underline;
}

div.wizard input, div.wizard select, div.wizard textarea {
  font-family: Tahoma, Arial, sans-serif; 
  font-size: 100%;
  color: #000000;
}

div.wizard textarea {
  overflow: auto;
}
*/

form.wizard div,
div.editDialog div {
    clear: left;
    display: block;
    /*  width: 354px;
      zoom: 1;
      margin: 5px 0 0 0;
      padding: 1px 3px;
    */
}

form.wizard .extrainfo {
    margin-left: 50px;
}

form.wizard .extrainfo a.extrainfotoggle {
    display: inline-block;
    float: right;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-image: url(help-128.png); /* from http://www.iconsdb.com/ */
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

form.wizard .extrainfo a.extrainfotoggle span {
    display: none;
}

form.wizard div.notes, form.wizard div.sidenotes {
    display: inline-block;
    height: auto;
    padding: 5px;
    border: 1px solid #666666;
    background-color: #ffffe1;
    color: #666666;
}

form.wizard div.notes {
    width: 80%;
    margin: 0 0 10px 70px;
}

form.wizard div.sidenotes {
    float: right;
    width: 198px;
    margin: 0 0 10px 10px;
}

form.wizard div.notes h4 {
    /*
    background-image: url(/images/icon_info.gif);
    background-repeat: no-repeat;
    background-position: top left;
    */
    text-align: center;
    padding: 3px 0 3px 0; /*27px; */
    margin: 0 0 3px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #666666;
    color: #666666;
    font-size: 100%;
}

form.wizard div.notes p {
    margin: 0em 0em 0.5em 0em;
    color: #666666;
    font-size: 80%;
}

form.wizard div.notes p.last {
    margin: 0em;
}

form.wizard div label {
    display: block;
    float: left;
    width: 140px;
    padding: 3px 5px;
    margin: 0 0 5px 0;
    text-align: right;
    font-weight: normal;
}

div.required label,
label.required {
    font-weight: bold !important;
}

/*
div.optional label:after {
  content: ':';
}

div.required label:after {
  content: ':';
}
*/

form.wizard textarea {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    width: 570px;
    overflow: auto;
    margin-bottom: 5px;
}

#feedback ul {
    padding-left: 0px;
}

#feedback ul li {
    font-weight: bold;
    padding: 5px;
    list-style: none;    
}

#feedback ul li.feedbackPanelERROR {
    background: red;
}

/*
form.wizard div label.labelCheckbox, form div label.labelRadio {
  float: none;
  display: block;
  width: 200px;
  zoom: 1;
  padding: 0;
  margin: 0 0 5px 142px;
  text-align: left;
}

form.wizard div fieldset label.labelCheckbox, form div fieldset label.labelRadio {
  margin: 0 0 5px 0;
  width: 170px;
}

form.wizard div img {
  float: left;
  border: 1px solid #000000;
  margin: 0 0 5px 0;
}

p.error {
  background-color: #ff0000;
  background-image: url(/images/icon_error.gif);
  background-repeat: no-repeat;
  background-position: 3px 3px;
  color: #ffffff;
  padding: 3px 3px 5px 27px;
  border: 1px solid #000000;
  margin: auto 100px;
}

form.wizard div.error {
  background-color: #ffffe1;
  background-image: url(/images/required_bg.gif);
  background-repeat: no-repeat;
  background-position: top left;
  color: #666666;
  border: 1px solid #ff0000;
}

form.wizard div.error p.error {
  background-image: url(/images/icon_error.gif);
  background-position: top left;
  background-color: transparent;
  border-style: none;
  font-size: 88%;
  font-weight: bold;
  margin: 0 0 0 118px;
  width: 200px;
  color: #ff0000;
}

form.wizard div select, form div textarea {
  width: 200px;
  padding: 1px 3px;
  margin: 0 0 0 0;
}

form.wizard div input.inputText, form div input.inputPassword {
  width: 200px;
  padding: 1px 3px;
  margin: 0 0 0 0;
}

form.wizard div input.inputFile {
  width: 211px;
}

form.wizard div select.selectOne, form div select.selectMultiple {
  width: 211px;
  padding: 1px 3px;
}

form.wizard div input.inputCheckbox, form div input.inputRadio, input.inputCheckbox, input.inputRadio {
  display: inline;
  height: auto;
  width: auto;
  background-color: transparent;
  border-width: 0;
  padding: 0;
  margin: 0 0 0 140px;
}

form.wizard div.submit {
  width: 214px;
  padding: 0 0 0 146px;
}

form.wizard div.submit div {
  display: inline;
  float: left;
  text-align: left;
  width: auto;
  padding: 0;
  margin: 0;
}

form.wizard div input.inputSubmit,
form div input.inputButton, input.inputSubmit, input.inputButton {
  background-color: #cccccc;
  color: #000000;
  width: auto;
  padding: 0 6px;
  margin: 0;
}

form.wizard div.submit div input.inputSubmit,
form div.submit div input.inputButton {
  float: right;
  margin: 0 0 0 5px;
}

form.wizard div small {
  display: block;
  margin: 0 0 5px 142px;
  padding: 1px 3px;
  font-size: 88%;
  zoom: 1;
}
*/

form.wizard .wizardButtons {
    border-top: 1px solid #000000;
    margin: 10px 0 0 0;
    clear: both;
}

form.wizard .buttonbar {
    margin: 10px 220px 0 0;
    padding: 0 10px 0 0;
    text-align: right; 
}

/*
form.wizard .buttonbar input.button,
div.modalDialog div.modalDialogButtons input.button
*/
input.button {
    padding: 1px 4px;
    margin: 0 2px;
    color: #000000;
    background-color: #E9EEF7;
    border: 2px solid #D4DEEF;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

form.wizard .buttonbar input.button:hover,
div.modalDialog div.modalDialogButtons input.button:hover {
    color: #AE0000;
    background-color: #E9EEF7;
}

form.wizard .buttonbar  input.button[disabled],
form.wizard .buttonbar  input.button[disabled]:hover,
div.modalDialog div.modalDialogButtons input.button[disabled],
div.modalDialog div.modalDialogButtons input.button[disabled]:hover {
    color: #AFAFAF;
    border-color: #EFEFEF;
}


/*
 * modal dialog
 */
div.modalDialog {
    margin: 0;
    padding: 0;
}

div.modalDialog div.modalDialogContent {
    margin: 10px;
}

div.modalDialog div.modalDialogButtons {
    border-top: 1px solid #BBBBBB;
    margin: 0 5px 5px 5px;
    padding: 5px 0 0 0;
    text-align: center;
}

div.confirmationDialog {
    text-align: center;
}

div.editDialog fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

div.editDialog fieldset label {
    display: block;
    float: left;
    /* width: 100px; */
    padding: 3px 5px 3px 0;
    margin: 0 0 5px 0;
    text-align: right;
}


/*
 * dialog customizations
 */
div.editCreatorDialog  fieldset label {
    width: 90px;
}

div.editCreatorDialog fieldset input,
div.editCreatorDialog fieldset textarea {
    width: 255px;
}

div.editResourceDialog fieldset label {
    width: 70px;
}

div.editResourceDialog fieldset input,
div.editResourceDialog fieldset textarea {
    width: 475px;
}

div.addResourcesDialog fieldset label {
    width: 85px;
}

div.addResourcesDialog fieldset input,
div.addResourcesDialog fieldset textarea {
    width: 460px;
}

div.addKeywordDialog fieldset input {
    width: 285px;
}

/*
 * create virtual collection wizard
 */
div.wizard a {
    font-weight: normal;
}


table {
    font-size: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 2px;
    text-align: left;
    vertical-align: top;
}

table thead,
table tfoot {
    color: inherit;
    background-color: #D4DEEF;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

table td.action {
    width: 8em;
    text-align: right;
}

table.resourcesTable td.move {
    width: 5em;
}

table.resourcesTable tr.moving {
    background: #ccc;
}

table.moving tr:hover td {
    border-top: 6px solid #ccc;
}

table.moving tr.moving:hover td {
    border-top: 0px;
}

table.resourcesTable tr.moving td, table.resourcesTable tr.moving td a {
    color: #333;
}

a {
    color: #AE0000;
    background-color: inherit;
    text-decoration: none;
}

table tbody {
    border-bottom: 1px solid #000000;
}

table tr.even {
    color: inherit;
    background-color: #FFFFFF;
}

table tr.odd {
    color: inherit;
    background-color: #E9EEF7;
}

table td.norecords-td {
    text-align: center;
    color: inherit;
    background-color: #FFFFFF;
}

table thead tr.navigation {
    border-bottom: 1px dotted #BBBBBB;
}

table tr.navigation div {
    clear: none !important;
}

table.creatorsTable,
table.resourcesTable {
    width: 805px;
}

table.creatorsTable td {
    width: 252px;
    overflow: hidden;
}

table td.type {
    width: 60px;
}

div.keywordsList {
    clear: none !important;
    width: 602px;
    margin-left: 160px;
    padding: 3px 0;
}

div.keywordsList div {
    clear: none;
}

div.keywordsList ul {
    list-style-type: square;
    margin: 0;
    padding: 0 0 0 16px;
}

div.keywordsList ul li {
    margin-top: 2px;
}

div.keywordsList ul li.first {
    margin-top: 0;
}

table.collectionsTable {
    width: auto;
    table-layout: fixed;
}

table.collectionsTable th,
table.collectionsTable td {
    vertical-align: top;
}

table.collectionsTable.public th.name,
table.collectionsTable.public td.name {
    width: 796px;
}

table.collectionsTable.private th.name,
table.collectionsTable.private td.name {
    width: 732px;
}

table.collectionsTable td.name div.name {
    padding-left: 16px;
    background-image: url('../icons/bullet_arrow_down.png');
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
}

table.collectionsTable td.name div.name:hover {
    color: #AE0000;
    background-color: inherit;
}

table.collectionsTable td.name div.name.detailsShown {
    padding-left: 16px;
    background-image: url('../icons/bullet_arrow_up.png');
    background-repeat: no-repeat;
    background-position: center left;
}

table.collectionsTable td.name div.name.noDetails{
    background-image: none;
}

table.collectionsTable td.name div.details {
    margin-left: 16px;
    margin-right: -248px;
    width: 964px;
}

table.collectionsTable td.name div.desc {
    text-align: justify;
    padding: 4px 0 0 0;
}

table.collectionsTable td.name div.actions {
    margin: 4px 0 2px 0;
}

table.collectionsTable th.state,
table.collectionsTable td.state {
    width: 60px;
}

table.collectionsTable th.type,
table.collectionsTable td.type {
    width: 80px;
}

table.collectionsTable th.created,
table.collectionsTable td.created {
    width: 80px;
}

table.collectionsTable td.action,
table.collectionsTable th.action {
    width: 12px;
}

table.collectionsTable.public td.action span,
table.collectionsTable.private td.action div.popupTrigger span {
    display: none;
}

table.collectionsTable.public td.action a {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    background: transparent url('../icons/magnifier.png') no-repeat center center;
}

table.collectionsTable.private td.action div.popupTrigger {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    background: transparent url('../icons/wrench.png') no-repeat center center;
}

tr.headers a.wicket_orderNone {
    padding-right: 7px;
    background: transparent url('../icons/order_none.png') no-repeat center right;
}

tr.headers a.wicket_orderUp {
    padding-right: 7px;
    background: transparent url('../icons/order_up.png') no-repeat center right;
}

tr.headers a.wicket_orderDown {
    padding-right: 7px;
    background: transparent url('../icons/order_down.png') no-repeat center right;
}

div.toggleBorder {
    border-top: 1px solid #000000;
}

div.toggleBorder div.toggleBorderHeader {
    margin: 0;
    padding: 2px 2px 2px 16px;
    border-bottom: 1px solid #000000;
    color: inherit;
    background-color: #D4DEEF;
    background-image: url('../icons/bullet_arrow_up.png');
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
}

div.toggleBorder div.toggleBorderHeader span {
    font-weight: bold;
}

div.toggleBorder div.toggleBorderHeader.collapsed {
    background-image: url('../icons/bullet_arrow_down.png');
    background-repeat: no-repeat;
    background-position: center left;
}

div.toggleBorder div.toggleBorderContent {
    margin: 0;
    padding: 5px;
}

form.filterForm {
    margin: 0;
    padding: 0;
}

form.filterForm fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

form.filterForm div.optional {
    margin-bottom: 4px;
}

form.filterForm label {
    width: 75px !important;
}

form.filterForm input.name,
form.filterForm input.desc {
    width: 790px;
}

div.popupMenu {
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.popupMenu li a {
    color: #000000;
}

div.popupMenu li a:hover {
    color: #AE0000;
}

div.popupTrigger span.title {
    color: #AE0000;
}


div.collectionDetails div.property {
    clear: both;
    font-size: 100%;
    border: none;
    padding: 0 10px 0 10px;
    margin: 0 0 4px 0;
}

div.collectionDetails div label {
    display: block;
    float: left;
    width: 140px;
    padding: 0px 2px;
    margin: 0;
    text-align: right;
    font-weight: normal;
}

div.collectionDetails div label:after {
    content: ':';
}

div.collectionDetails div div {
    display: block;
    clear: none;
    padding: 0px 2px;
    margin-left: 144px;
}

div.collectionDetails ul.keywords {
    margin: 0 0 0 16px;
    padding: 0;
    list-style: square;
}

div.collectionDetails ul.creators {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.collectionDetails ul.creators li {
    border-top: 1px dotted #000000;
    margin-top: 4px;
    padding-top: 4px;
}

div.collectionDetails ul.creators li.first {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

div.collectionDetails.resources {
    padding: 0 !important;
}

div.collectionDetails.resources table {
    width: 100%;
}

div.collectionDetails.buttons {
    margin: 10px 0 10px 0;
    text-align: center;
}

.tooltipparent .tooltip {
    display: none;
}
