@import 'CLARIN';

/* global variables */
$iconsize: 12px;

@import 'mixins';
@import 'toggleborder';
@import 'table';
@import 'collectiondetails';
@import 'wizard';
@import 'feedback';
@import 'filterform';
@import 'popup';


noscript {
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

#noscript-warning {
    color: #FFFFFF;
    background-color: #AE0000;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

.tooltipparent .tooltip {
    display: none;
}

ul#CLARIN_header_right li.authenticated {
    text-shadow: none;
    padding-top: 15px;
    color: #000;
}
