@import 'CLARIN';

/* global variables */
$iconsize: 12px;

@import 'mixins';
@import 'toggleborder';
@import 'table';
@import 'collectiondetails';
@import 'wizard';
@import 'feedback';
@import 'filterform';
@import 'popup';

body {
    font-size: 130%;
}

noscript {
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

#noscript-warning {
    color: #FFFFFF;
    background-color: #AE0000;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

.tooltipparent .tooltipcontent {
    display: none;
}

.navbar-collapse {
    font-size: 120%;
}

a.navbar-brand {
    line-height: 20px;
}

ul#CLARIN_header_right li.authenticated {
    text-shadow: none;
    padding-top: 15px;
    color: #000;
    font-size: 120%;
}

div#CLARIN_footer_middle img {
    max-height: 80px !important;
    padding: 6px 4px;
}

div#help  {

    dd {
        /* indent for the definitions on the help page */
        margin-left: 2em;
    }
}

div.betabadge {
    position: relative;

    span {
        display: block;
        position: absolute;
        left: 1em;
        top: 1em;
        color: black;
        font-size: larger;
        background: red;
        opacity: .7;
        padding: .2em .4em;
    }
}

#aboutlogos img {
    max-height: 6em;
    margin: 1em;
}
