/*
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url('Roboto_Condensed_with_European_character_sets.woff') format('woff');
}
*/
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../fonts/source-sans-pro-v11-vietnamese_latin-ext_latin-regular.woff2") format("woff2");
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../fonts/source-sans-pro-v11-vietnamese_latin-ext_latin-700.woff2") format("woff2");
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/Roboto_with_European_character_sets.woff") format("woff");
}
body {
  font-family: "Roboto", sans-serif;
  /*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
  color: #333;
  font-size: 100%;
  word-wrap: break-word;
}

a {
  text-decoration: none !important;
}
a:link {
  color: #00406f;
}
a:hover, a:focus {
  color: #9e0025;
}
a:active {
  color: #9e0025;
}
a:visited {
  color: #666;
}

.navbar-header {
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar-brand {
  /*color: #806a52;*/
  color: #000;
  font-size: 2em;
  text-overflow: ellipsis;
  line-height: 1em;
}

.navbar-default .navbar-text{
    color:#777;
}
.navbar-default .navbar-nav>li>a{
    color:#000;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{
    color:#eee !important;
    background-color:#0080aa !important;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{
    color:#fff !important;
    background-color:#0080aa !important;
}
.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:hover,.navbar-default .navbar-nav>.disabled>a:focus{
    color:#ccc;
    background-color:transparent;
}

@media (max-width:767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color:#000
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
        color:#eee;
        background-color:#0080aa
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus{
        color:#fff;
        background-color:#0080aa
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus{
        color:#ccc;
        background-color:transparent
    }
}

#header .clarin-top .logo{
    width:10em;
    height:4em;
    background-image:url('../images/clarin-logo-wide.png');
    background-size:100%;
    background-repeat:no-repeat
}
#header .navbar-nav a.clarin-logo{
    min-height:50px;
    width:119px;
    background-image:url('../images/clarin-logo-wide.png');
    background-size:115px 46px;
    background-position-x:5px;
    background-position-y:2px;
    background-repeat:no-repeat
}
#header .navbar-nav a.clarin-logo span{
    display:none
}
#header .navbar-nav a.clarin-logo:hover{
    background-color:inherit
}

.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
@media (min-width:768px){
    .container{
        width:750px
    }
}
@media (min-width:992px){
    .container{
        width:970px
    }
}
@media (min-width:1200px){
    .container{
        width:1170px
    }
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}

.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse{
    margin-right:-15px;
    margin-left:-15px
}
@media (min-width:768px){
    .container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse{
        margin-right:0;
        margin-left:0
    }
}

@media (min-width:768px){
    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{
        margin-left:-15px
    }
}

.text-right {
    text-align: right;
}

/*
a {
    text-decoration: none;
}

a:link {
    color: #00c;
    border-bottom: 1px solid #00c;
}

a:visited {
    color: #6D006D;
    border-bottom: 1px dotted #6D006D;
}

a:focus {
    color: #c00;
    border-bottom: 1px dashed #c00;
}

a:hover {
    color: #c00;
    border-bottom: 1px dashed #c00;
}

a:active {
    color: #c00;
    border-bottom: 1px solid #c00;
    font-style: italic;
}
*/
h1, h2, h3, h4, h5, h6, label, .details-title {
  color: #666;
  font-weight: normal;
  line-height: 1.2em;
}

body, h1, h2, h3, h4, h5, h6, .details-title {
  font-size-adjust: 0.5;
}

.navbar .container-fluid {
    margin-left: 5%;
    margin-right: 5%;
}

#collectionsTable {
    display: flex;
}

/* Based on http://typecast.com/blog/a-more-modern-scale-for-web-typography */
#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

h2, .details-title {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height
    and something more appropriate for display headings */
  }

  h2, .details-title {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }

  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}
@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }

  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }

  h2, .details-title {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }

  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }

  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}
p {
  margin: 0 0 15px 0;
}

menu, ol, ul {
  padding: 0 0 0 20px;
}

hr {
  clear: both;
}

div.container {
  z-index: -1 !important;
}

/*
table.display {
  border-collapse: collapse !important;
  position: relative !important;
  border-spacing: 0 !important;
  border: 0px !important;
  background-clip: padding-box;
  //background-repeat: no-repeat;
  //background-position: center top;

  th, td {
    border: 0px !important;
    //background-clip: content-box !important;
  }

  thead tr th {
    background-color: $clarin_blue !important;
    border-collapse: collapse !important;
    //background-clip: content-box !important;
    background-attachment: scroll !important;
    //border-bottom: 0px !important;
    color: #fff !important;
  }

  thead {
    tr th:first-child {
      border-top-left-radius: 6px !important;
      border-bottom-left-radius: 6px !important;

      -webkit-border-top-left-radius: 6px !important;
      -webkit-border-bottom-left-radius: 6px !important;

      -moz-border-top-left-radius: 6px !important;
      -moz-border-bottom-left-radius: 6px !important;
    }

    tr {
      padding: $indent $indent !important;
      font-weight: bolder !important;
      text-align: left !important;
      border: 0px !important;
    }

    tr th a {
      color: #fff !important;
    }

    tr th:last-child {
      border-top-right-radius: 6px !important;
      border-bottom-right-radius: 6px !important;

      -webkit-border-top-right-radius: 6px !important;
      -webkit-border-bottom-right-radius: 6px !important;

      -moz-border-top-right-radius: 6px !important;
      -moz-border-bottom-right-radius: 6px !important;
    }
  }
}

table {
  tbody {
    tr:nth-child(2n+1) td {
      background-color: $grey !important;
    }

    td:first-child {
      -webkit-border-top-left-radius: 6px !important;
      -webkit-border-bottom-left-radius: 6px !important;

      -moz-border-top-left-radius: 6px !important;
      -moz-border-bottom-left-radius: 6px !important;

      border-top-left-radius: 6px !important;
      border-bottom-left-radius: 6px !important;
    }

    td:last-child {
      -webkit-border-top-right-radius: 6px !important;
      -webkit-border-bottom-right-radius: 6px !important;

      -moz-border-top-right-radius: 6px !important;
      -moz-border-bottom-right-radius: 6px !important;

      border-top-right-radius: 6px !important;
      border-bottom-right-radius: 6px !important;
    }

    tr {
      //border-bottom: 1px solid #e6e6e6 !important;
      vertical-align: middle !important;
      //background-clip: padding-box !important;
      //border-collapse: collapse !important;
    }

    tr:last-child td:first-child {
      -webkit-border-bottom-left-radius: 6px !important;
      -moz-border-bottom-left-radius: 6px !important;
      border-bottom-left-radius: 6px !important;
    }

    tr:last-child td:last-child {
      -webkit-border-bottom-right-radius: 6px !important;
      -moz-border-bottom-right-radius: 6px !important;
      border-bottom-right-radius: 6px !important;
    }

    tr:last-child {
      border-bottom: 1px solid $clarin_blue !important;
    }
  }
}

table:not(.display) {
  tr:first-child {
    border-top: 1px solid $clarin_blue !important;
  }

  td, th {
    padding: 5px;
  }

  th {
    background-color: $grey;
    border-right: 1px dotted black;
  }
}
*/
html body ul#nav ul, html body ul#nav ul li {
  width: 200px;
}

html body ul#nav ul ul {
  margin: 0 0 0 200px;
}

div#body {
  min-height: 100%;
  height: auto;
  /* Pad top and bottom to prevent overflow over body div if using fixed-top navbar. */
}

div#footer {
  background-color: #f5f5f5;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
}
div#footer div.container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
div#footer div.container div#CLARIN_footer_left a span.glyphicon, div#footer div.container div#CLARIN_footer_right a span.glyphicon {
  margin-right: .2em;
}
div#footer div.container div#CLARIN_footer_left {
  order: 1;
  display: flex !important;
  text-align: left;
  vertical-align: middle;
  margin: auto;
  width: 33%;
  align-content: space-around;
  padding-left: 1em;
}
div#footer div.container div#CLARIN_footer_middle {
  order: 2;
  display: flex !important;
  text-align: center;
  margin: auto;
  width: 33%;
  align-content: space-around;
}
div#footer div.container div#CLARIN_footer_middle a {
  display: block;
  width: 100%;
}
div#footer div.container div#CLARIN_footer_middle a img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
div#footer div.container div#CLARIN_footer_right {
  order: 3;
  text-align: right;
  vertical-align: middle;
  display: flex !important;
  /* margin: auto; */
  width: 33%;
  align-content: space-around;
  padding-right: 1em;
}
div#footer div.container div#CLARIN_footer_right a {
  width: 100%;
}

ul#CLARIN_header_right, div#CLARIN_footer_left, div#CLARIN_footer_right {
  margin: 0px 4px 0 p x 4px;
  color: #806a52;
}
ul#CLARIN_header_right :not(.glyphicon), div#CLARIN_footer_left :not(.glyphicon), div#CLARIN_footer_right :not(.glyphicon) {
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  font-variant: small-caps;
}
ul#CLARIN_header_right a, div#CLARIN_footer_left a, div#CLARIN_footer_right a {
  color: #806a52;
  text-decoration: none;
}
ul#CLARIN_header_right a:hover, ul#CLARIN_header_right a:focus, div#CLARIN_footer_left a:hover, div#CLARIN_footer_left a:focus, div#CLARIN_footer_right a:hover, div#CLARIN_footer_right a:focus {
  color: inherit !important;
  text-decoration: none !important;
}
ul#CLARIN_header_right a:visited, div#CLARIN_footer_left a:visited, div#CLARIN_footer_right a:visited {
  color: inherit !important;
  text-decoration: none !important;
}

input.citation {
  background-color: orange;
}

/* global variables */
/*
Copyright (C) 2014 CLARIN

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : Aug 20, 2014, 10:36:04 AM
    Author     : twagoo
*/
/*
Copyright (C) 2014 CLARIN

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
div.toggleBorder div.toggleBorderHeader {
  margin: 0;
  padding-left: 4px;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  /* mimick header of 'display' table (CLARIN style) */
  background-color: #00406f;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  -webkit-border-top-left-radius: 6px !important;
  -webkit-border-bottom-left-radius: 6px !important;
  -moz-border-top-left-radius: 6px !important;
  -moz-border-bottom-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  -webkit-border-top-right-radius: 6px !important;
  -webkit-border-bottom-right-radius: 6px !important;
  -moz-border-top-right-radius: 6px !important;
  -moz-border-bottom-right-radius: 6px !important;
}
div.toggleBorder div.toggleBorderHeader span {
  font-weight: bold;
  padding: 2px 2px 2px 16px;
  /* icon from GLYPHICONS.com */
  background-image: url("../icons/glyphicons_369_collapse_top_white.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center left;
}
div.toggleBorder div.toggleBorderHeader.collapsed span {
  /* icon from GLYPHICONS.com */
  background-image: url("../icons/glyphicons_367_expand_white.png");
}
div.toggleBorder div.toggleBorderContent {
  margin: 0;
  padding: 5px;
}

/*@import 'table';*/
/*
Copyright (C) 2014 CLARIN

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
div.collectionDetails div.property {
  clear: both;
  font-size: 100%;
  border: none;
  padding: 0 10px 0 10px;
  margin: 0 0 4px 0;
}
div.collectionDetails div.property label, div.collectionDetails div.property div {
  line-height: 1.5em;
}
div.collectionDetails div.property label {
  display: block;
  float: left;
  width: 140px;
  padding: 0px 2px;
  margin: 0;
  text-align: right;
  font-weight: normal;
}
div.collectionDetails div.property label:after {
  content: ':';
}
div.collectionDetails div.property div {
  display: block;
  clear: none;
  padding: 0px 2px;
  margin-left: 144px;
}
div.collectionDetails ul.keywords {
  margin: 0 0 0 16px;
  padding: 0;
  list-style: square;
}
div.collectionDetails ul.creators {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.collectionDetails ul.creators li {
  border-top: 1px dotted #000000;
  padding-bottom: 4px;
  padding-top: 4px;
}
div.collectionDetails ul.creators li.first {
  border-top: none;
  padding-bottom: 4px;
  padding-top: 0;
}
div.collectionDetails.resources {
  padding-left: 1em !important;
}
div.collectionDetails.resources table {
  width: 100%;
  table-layout: fixed;
}
div.collectionDetails.resources table td, div.collectionDetails.resources table th {
  padding-left: .5em;
  /*width: auto;*/
}
div.collectionDetails.resources table td.reference, div.collectionDetails.resources table th.reference {
  width: auto;
}
div.collectionDetails.resources table td.type, div.collectionDetails.resources table th.type {
  width: 9em;
}
div.collectionDetails.buttons {
  margin: 10px 0 10px 0;
  text-align: center;
}

/*
Copyright (C) 2018 CLARIN

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : Nov 27, 2018, 3:21:52 PM
    Author     : wilelb
*/
div.property {
  clear: both;
  font-size: 100%;
  border: none;
  padding: 0 10px 0 10px;
  margin: 0 0 4px 0;
}
div.property label, div.property div {
  line-height: 1.5em;
}
div.property label {
  display: block;
  float: left;
  width: 140px;
  padding: 0px 2px;
  margin: 0;
  text-align: right;
  font-weight: normal;
}
div.property label:after {
  content: ':';
}
div.property div {
  display: block;
  clear: none;
  padding: 0px 2px;
  margin-left: 144px;
}

ul.keywords {
  margin: 0 0 0 16px;
  padding: 0;
  list-style: square;
}
ul.creators {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.creators li {
  border-top: 1px dotted #000000;
  margin-top: 4px;
  padding-top: 4px;
}
ul.creators li.first {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.resources {
  padding-left: 1em !important;
}
.resources table {
  width: 100%;
  table-layout: fixed;
}
.resources table td, .resources table th {
  padding-left: .5em;
  /*width: auto;*/
}
.resources table td.reference, .resources table th.reference {
  width: auto;
}
.resources table td.type, .resources table th.type {
  width: 9em;
}

.buttons {
  margin: 10px 0 10px 0;
  text-align: center;
}

/*
Copyright (C) 2014 CLARIN

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
#feedback ul {
  padding-left: 0px;
}
#feedback ul li {
  font-weight: bold;
  padding: 5px 5px 5px 24px;
  list-style: none;
  margin: 1em;
  min-height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 50%;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  -webkit-border-top-left-radius: 6px !important;
  -webkit-border-bottom-left-radius: 6px !important;
  -moz-border-top-left-radius: 6px !important;
  -moz-border-bottom-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  -webkit-border-top-right-radius: 6px !important;
  -webkit-border-bottom-right-radius: 6px !important;
  -moz-border-top-right-radius: 6px !important;
  -moz-border-bottom-right-radius: 6px !important;
}
#feedback ul li.feedbackPanelERROR {
  background-image: url(../icons/glyphicons_078_warning_sign.png);
  background-color: #9e0025;
  color: wheat;
}

/*
Copyright (C) 2014 CLARIN

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
form.filterForm {
  margin: 0;
  padding: 0;
    /*
    select {
        width: 20%;
        min-width: 8em;
    }

    input[type=text] {
        width: 40%;
    }
    */
}
form.filterForm fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
form.filterForm div.optional {
  margin-bottom: 4px;
}

#footer {
  min-height: 10em;
  padding-top: 30px;
  border-top: 1px solid #d5d5d5;
  background-color: #eeeeee;
  color: #777777;
}
#footer .version-info {
  color: #9d9d9d;
}
#footer .footer-fineprint, #footer .footer-fineprint a {
  color: #777777;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("Roboto_with_European_character_sets.woff") format("woff");
}
.checkbox-group-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: "Source Sans Pro", Calibri, Arial, Helvetica sans-serif;
  /*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
  color: #333;
  word-wrap: break-word;
}

.vcr-badge {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  z-index: 2000;
}

.beta {
  background-image: url("../images/clarin_blue_corner_ribbon_beta_small.png");
  background-size: contain;
}

.alpha {
  background-image: url("../images/clarin_blue_corner_ribbon_alpha_small.png");
  background-size: contain;
}

input.max-width {
  width: 100%;
}

.cb {
  margin: 1px;
}

.required {
  font-weight: bold;
}

.row-spacing {
  margin-top: 2px;
  margin-bottom: 2px;
}

noscript {
  margin: 0 auto;
  padding: 0;
  width: 1024px;
}

.tooltip-inner {
  /*max-width: 300px;
  width: 300px;*/
  text-align: justify;
}

#noscript-warning {
  color: #FFFFFF;
  background-color: #AE0000;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

div.navbar div.container {
  overflow: hidden;
  /* Fixes issue with 1px causing vertical scrollbar to show in navbar */
}

#content {
  min-height: 100%;
  margin-bottom: -139px;
  padding-bottom: 160px;
  margin-top: -72px;
  padding-top: 72px;
}

.hidden-overflow {
  overflow: hidden;
}

.tooltipparent .tooltipcontent {
  display: none;
}

.navbar-collapse {
  font-size: 120%;
}

a.navbar-brand {
  line-height: 20px;
  font-size: 18px;
}

ul#CLARIN_header_right li.authenticated {
  text-shadow: none;
  padding-top: 15px;
  color: #000;
  font-size: 120%;
}

div#CLARIN_footer_middle img {
  max-height: 80px !important;
  padding: 6px 4px;
}

div#help dd {
  /* indent for the definitions on the help page */
  margin-left: 2em;
}

div.betabadge {
  position: relative;
}
div.betabadge span {
  display: block;
  position: absolute;
  left: 1em;
  top: 1em;
  color: black;
  font-size: larger;
  background: red;
  opacity: .7;
  padding: .2em .4em;
}

label {
  display: inline;
  text-align: right;
}

.lbl {
  font-weight: bold;
}

.value {
  margin-left: 10px;
}

/* 
    hack to properly render empty bootstrap cell 
    Reference:
        https://stackoverflow.com/questions/37079564/empty-content-in-bootstrap-grid-cell-causes-cell-to-not-render
*/
.empty::after {
  content: ".";
  visibility: hidden;
}

#aboutlogos img {
  max-height: 6em;
  margin: 1em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hint {
  position: absolute;
  z-index: 999;
  margin-top: -4px;
  margin-left: 10px;
  border: 1px solid #c93;
  padding: 12px 12px;
  background-color: #ffc;
  display: none;
  max-width: 35%;
}

.hint .notch {
  position: absolute;
  top: 5px;
  left: -10px;
  margin: 0;
  border-top: 10px solid transparent;
  border-left: 0;
  border-right: 10px solid #ffc;
  border-bottom: 10px solid transparent;
  padding: 0;
  width: 0;
  height: 0;
  /* ie6 height fix */
  font-size: 0;
  line-height: 0;
  /* ie6 transparent fix */
  _border-right-color: pink;
  _border-left-color: pink;
  _filter: chroma(color=pink);
}

.hint .border-notch {
  border-right-color: #c93;
  left: -11px;
}

.hint-container {
  display: inline-block;
}

.hint-container > input[type=text], textarea {
  width: 100%;
}

.half-width {
  width: 50%;
}

.details {
  font-size: 1em;
}

.state {
  min-width: 100px;
  max-width: 100px;
  font-size: 1em;
}

td.type {
  min-width: 100px;
  max-width: 100px;
  font-size: 1em;
}

td.actions {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.actions {
  text-align: left;
}

.created {
  min-width: 85px;
  max-width: 85px;
  font-size: 1em;
}

.action {
  min-width: 120px;
  max-width: 120px;
}

table.collectionsTable {
  max-width: 100%;
  margin-bottom: 20px;
}

table.collectionsTable td.name {
  width: 100%;
  min-width: 200px;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.odd {
  background-color: #eaeaea;
  /*#D4DEEF;*/
}

.even {
  background-color: #FFFFFF;
}

.btngroup-spacing {
  margin-top: 2px;
  margin-bottom: 2px;
}

a.btn-primary {
  color: #fff;
}

.pid-label {
  border: 1px solid;
  border-color: #0080aa;
  border-radius: 4px;
  white-space: nowrap;
  margin-right: .3em;
  background: #0080aa;
}

.pid-label .pid-label-badge {
  padding: 0 .5em;
  background: #0080aa;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

td.reference div div {
  padding-top: 3px;
  padding-bottom: 3px;
}

.details-header {
  padding: 5px;
}

.collapsible .panel-heading a:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}

.collapsible .panel-heading a.collapsed:after {
  content: "\e080";
}

.hover {
  cursor: pointer;
}

.toggle {
  margin-right: 10px;
}

.toggle-details a span.toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  color: #0080aa;
}

.toggle-details a.collapsed span.toggle:after {
  content: "\e080";
}

.title {
  font-size: 1.25em;
  font-weight: normal;
}

.desc p {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

a > .panel-heading:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}

a.collapsed > .panel-heading:after {
  content: "\e080";
}

.panel-default > a > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

label.filter {
  font-size: 1em;
}

select.filter {
  width: 100%;
  font-size: 1em;
}

input.filter {
  width: 100%;
  font-size: 1em;
}

.hover:hover {
  text-decoration: underline;
}

h4.pnl-title {
  display: inline;
}

h3.pnl-title {
  display: inline;
}

.full-width {
  width: 100%;
}

.field-row {
  margin: 2px;
}

.author-row {
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.author-editor-row {
  margin-top: 15px;
  padding: 10px;
}

.reference-row {
  margin: 3px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  padding: 5px;
}

lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid #00406f;
  border-color: #00406f transparent #00406f transparent;
  animation: lds-dual-ring 1s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icon {
  margin-right: 5px;
  margin-left: 5px;
}

.icon-success {
  color: #155724;
}

.icon-passed {
  color: #856404;
}

.icon-failed {
  color: #721c24;
}

.icon-waiting {
  color: #383d41;
}

.reference-title {
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 5px;
}

.reference-url {
  color: #737373;
  font-size: 0.9em;
}

.alert-small {
  padding: 5px;
  margin: 5px;
}

.help-message {
  color: #383d41;
}

.error-message {
  color: #721c24;
}

h1, h2, h3, h4, h5, h6 {
  color: #0080aa;
}

#help h2 {
  border-bottom: 2px solid #eee;
}

#help {
  text-align: left;
  display: flex;/*inline-block;*/
  height: 100%;
  min-height: 100%;
}

#help .toggle {
  color: #0080aa;
}

.toc {
  position: sticky;
  align-self: flex-start;
  top: 15px;
}

.api-key-table {
  margin-top: 5px;
  margin-bottom: 5px;
}

.api-key {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9em;
}

.api-key-table-cell-padding {
  padding-left: 10px;
  padding-right: 10px;
}

/*# sourceMappingURL=vcr.css.map */




.btn-lg,.btn-group-lg>.btn{
    padding:10px 16px;
    font-size:18px;
    line-height:1.3333333;
    border-radius:0
}
.btn-sm,.btn-group-sm>.btn{
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:0
}
.btn-xs,.btn-group-xs>.btn{
    padding:1px 5px !important; 
    font-size:12px;
    line-height:1.5;
    border-radius:0
}


.btn-default{
    color:#333;
    background-color:#fff;
    border-color:#ccc
}
.btn-default:focus,.btn-default.focus{
    color:#333;
    background-color:#e6e6e6;
    border-color:#8c8c8c
}
.btn-default:hover{
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad
}
.btn-default:active:hover,.btn-default.active:hover,.open>.dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open>.dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open>.dropdown-toggle.btn-default.focus{
    color:#333;
    background-color:#d4d4d4;
    border-color:#8c8c8c
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{
    background-image:none
}
.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus{
    background-color:#fff;
    border-color:#ccc
}
.btn-default .badge{
    color:#fff;
    background-color:#333
}


.btn-primary{
    color:#fff;
    background-color:#0080aa;
    border-color:#006d91
}
.btn-primary:focus,.btn-primary.focus{
    color:#fff;
    background-color:#005a77;
    border-color:#000d11
}
.btn-primary:hover{
    color:#fff;
    background-color:#005a77;
    border-color:#003f53
}
.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{
    color:#fff;
    background-color:#005a77;
    border-color:#003f53
}
.btn-primary:active:hover,.btn-primary.active:hover,.open>.dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open>.dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open>.dropdown-toggle.btn-primary.focus{
    color:#fff;
    background-color:#003f53;
    border-color:#000d11
}
.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{
    background-image:none
}
.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus{
    background-color:#0080aa;
    border-color:#006d91
}
.btn-primary .badge{
    color:#0080aa;
    background-color:#fff
}





.panel{
    margin-bottom:20px;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:0;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
    box-shadow:0 1px 1px rgba(0,0,0,0.05)
}
.panel-body{
    padding:15px
}
.panel-heading{
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-right-radius:-1px;
    border-top-left-radius:-1px
}
.panel-heading>.dropdown .dropdown-toggle{
    color:inherit
}
.panel-title{
    margin-top:0;
    margin-bottom:0;
    font-size:16px;
    color:inherit
}
.panel-title>a,.panel-title>small,.panel-title>.small,.panel-title>small>a,.panel-title>.small>a{
    color:inherit
}
.panel-footer{
    padding:10px 15px;
    background-color:#f5f5f5;
    border-top:1px solid #ddd;
    border-bottom-right-radius:-1px;
    border-bottom-left-radius:-1px
}
.panel>.list-group,.panel>.panel-collapse>.list-group{
    margin-bottom:0
}
.panel>.list-group .list-group-item,.panel>.panel-collapse>.list-group .list-group-item{
    border-width:1px 0;
    border-radius:0
}
.panel>.list-group:first-child .list-group-item:first-child,.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{
    border-top:0;
    border-top-right-radius:-1px;
    border-top-left-radius:-1px
}
.panel>.list-group:last-child .list-group-item:last-child,.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child{
    border-bottom:0;
    border-bottom-right-radius:-1px;
    border-bottom-left-radius:-1px
}
.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child{
    border-top-right-radius:0;
    border-top-left-radius:0
}
.panel-heading+.list-group .list-group-item:first-child{
    border-top-width:0
}
.list-group+.panel-footer{
    border-top-width:0
}
.panel>.table,.panel>.table-responsive>.table,.panel>.panel-collapse>.table{
    margin-bottom:0
}
.panel>.table caption,.panel>.table-responsive>.table caption,.panel>.panel-collapse>.table caption{
    padding-left:15px;
    padding-right:15px
}
.panel>.table:first-child,.panel>.table-responsive:first-child>.table:first-child{
    border-top-right-radius:-1px;
    border-top-left-radius:-1px
}
.panel>.table:first-child>thead:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child{
    border-top-left-radius:-1px;
    border-top-right-radius:-1px
}
.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child{
    border-top-left-radius:-1px
}
.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child{
    border-top-right-radius:-1px
}
.panel>.table:last-child,.panel>.table-responsive:last-child>.table:last-child{
    border-bottom-right-radius:-1px;
    border-bottom-left-radius:-1px
}
.panel>.table:last-child>tbody:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child{
    border-bottom-left-radius:-1px;
    border-bottom-right-radius:-1px
}
.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child{
    border-bottom-left-radius:-1px
}
.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child{
    border-bottom-right-radius:-1px
}
.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body{
    border-top:1px solid #ddd
}
.panel>.table>tbody:first-child>tr:first-child th,.panel>.table>tbody:first-child>tr:first-child td{
    border-top:0
}
.panel>.table-bordered,.panel>.table-responsive>.table-bordered{
    border:0
}
.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child{
    border-left:0
}
.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child{
    border-right:0
}
.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th{
    border-bottom:0
}
.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th{
    border-bottom:0
}
.panel>.table-responsive{
    border:0;
    margin-bottom:0
}
.panel-group{
    margin-bottom:20px
}
.panel-group .panel{
    margin-bottom:0;
    border-radius:0
}
.panel-group .panel+.panel{
    margin-top:5px
}
.panel-group .panel-heading{
    border-bottom:0
}
.panel-group .panel-heading+.panel-collapse>.panel-body,.panel-group .panel-heading+.panel-collapse>.list-group{
    border-top:1px solid #ddd
}
.panel-group .panel-footer{
    border-top:0
}
.panel-group .panel-footer+.panel-collapse .panel-body{
    border-bottom:1px solid #ddd
}
.panel-default{
    border-color:#ddd
}
.panel-default>.panel-heading{
    color:#333;
    background-color:#f5f5f5;
    border-color:#ddd
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top-color:#ddd
}
.panel-default>.panel-heading .badge{
    color:#f5f5f5;
    background-color:#333
}
.panel-default>.panel-footer+.panel-collapse>.panel-body{
    border-bottom-color:#ddd
}
.panel-primary{
    border-color:#0080aa
}
.panel-primary>.panel-heading{
    color:#fff;
    background-color:#0080aa;
    border-color:#0080aa
}
.panel-primary>.panel-heading+.panel-collapse>.panel-body{
    border-top-color:#0080aa
}
.panel-primary>.panel-heading .badge{
    color:#0080aa;
    background-color:#fff
}
.panel-primary>.panel-footer+.panel-collapse>.panel-body{
    border-bottom-color:#0080aa
}
.panel-success{
    border-color:#d6e9c6
}
.panel-success>.panel-heading{
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6
}
.panel-success>.panel-heading+.panel-collapse>.panel-body{
    border-top-color:#d6e9c6
}
.panel-success>.panel-heading .badge{
    color:#dff0d8;
    background-color:#3c763d
}
.panel-success>.panel-footer+.panel-collapse>.panel-body{
    border-bottom-color:#d6e9c6
}
.panel-info{
    border-color:#bce8f1
}
.panel-info>.panel-heading{
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1
}
.panel-info>.panel-heading+.panel-collapse>.panel-body{
    border-top-color:#bce8f1
}
.panel-info>.panel-heading .badge{
    color:#d9edf7;
    background-color:#31708f
}
.panel-info>.panel-footer+.panel-collapse>.panel-body{
    border-bottom-color:#bce8f1
}
.panel-warning{
    border-color:#faebcc
}
.panel-warning>.panel-heading{
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc
}
.panel-warning>.panel-heading+.panel-collapse>.panel-body{
    border-top-color:#faebcc
}
.panel-warning>.panel-heading .badge{
    color:#fcf8e3;
    background-color:#8a6d3b
}
.panel-warning>.panel-footer+.panel-collapse>.panel-body{
    border-bottom-color:#faebcc
}
.panel-danger{
    border-color:#ebccd1
}
.panel-danger>.panel-heading{
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1
}
.panel-danger>.panel-heading+.panel-collapse>.panel-body{
    border-top-color:#ebccd1
}
.panel-danger>.panel-heading .badge{
    color:#f2dede;
    background-color:#a94442
}
.panel-danger>.panel-footer+.panel-collapse>.panel-body{
    border-bottom-color:#ebccd1
}





@font-face{
    font-family:'Glyphicons Halflings';
    src:url('../fonts/glyphicons-halflings-regular.eot');
    src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),url('../fonts/glyphicons-halflings-regular.woff') format('woff'),url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}
.glyphicon{
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-style:normal;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.glyphicon-asterisk:before{
    content:"\002a"
}
.glyphicon-plus:before{
    content:"\002b"
}
.glyphicon-euro:before,.glyphicon-eur:before{
    content:"\20ac"
}
.glyphicon-minus:before{
    content:"\2212"
}
.glyphicon-cloud:before{
    content:"\2601"
}
.glyphicon-envelope:before{
    content:"\2709"
}
.glyphicon-pencil:before{
    content:"\270f"
}
.glyphicon-glass:before{
    content:"\e001"
}
.glyphicon-music:before{
    content:"\e002"
}
.glyphicon-search:before{
    content:"\e003"
}
.glyphicon-heart:before{
    content:"\e005"
}
.glyphicon-star:before{
    content:"\e006"
}
.glyphicon-star-empty:before{
    content:"\e007"
}
.glyphicon-user:before{
    content:"\e008"
}
.glyphicon-film:before{
    content:"\e009"
}
.glyphicon-th-large:before{
    content:"\e010"
}
.glyphicon-th:before{
    content:"\e011"
}
.glyphicon-th-list:before{
    content:"\e012"
}
.glyphicon-ok:before{
    content:"\e013"
}
.glyphicon-remove:before{
    content:"\e014"
}
.glyphicon-zoom-in:before{
    content:"\e015"
}
.glyphicon-zoom-out:before{
    content:"\e016"
}
.glyphicon-off:before{
    content:"\e017"
}
.glyphicon-signal:before{
    content:"\e018"
}
.glyphicon-cog:before{
    content:"\e019"
}
.glyphicon-trash:before{
    content:"\e020"
}
.glyphicon-home:before{
    content:"\e021"
}
.glyphicon-file:before{
    content:"\e022"
}
.glyphicon-time:before{
    content:"\e023"
}
.glyphicon-road:before{
    content:"\e024"
}
.glyphicon-download-alt:before{
    content:"\e025"
}
.glyphicon-download:before{
    content:"\e026"
}
.glyphicon-upload:before{
    content:"\e027"
}
.glyphicon-inbox:before{
    content:"\e028"
}
.glyphicon-play-circle:before{
    content:"\e029"
}
.glyphicon-repeat:before{
    content:"\e030"
}
.glyphicon-refresh:before{
    content:"\e031"
}
.glyphicon-list-alt:before{
    content:"\e032"
}
.glyphicon-lock:before{
    content:"\e033"
}
.glyphicon-flag:before{
    content:"\e034"
}
.glyphicon-headphones:before{
    content:"\e035"
}
.glyphicon-volume-off:before{
    content:"\e036"
}
.glyphicon-volume-down:before{
    content:"\e037"
}
.glyphicon-volume-up:before{
    content:"\e038"
}
.glyphicon-qrcode:before{
    content:"\e039"
}
.glyphicon-barcode:before{
    content:"\e040"
}
.glyphicon-tag:before{
    content:"\e041"
}
.glyphicon-tags:before{
    content:"\e042"
}
.glyphicon-book:before{
    content:"\e043"
}
.glyphicon-bookmark:before{
    content:"\e044"
}
.glyphicon-print:before{
    content:"\e045"
}
.glyphicon-camera:before{
    content:"\e046"
}
.glyphicon-font:before{
    content:"\e047"
}
.glyphicon-bold:before{
    content:"\e048"
}
.glyphicon-italic:before{
    content:"\e049"
}
.glyphicon-text-height:before{
    content:"\e050"
}
.glyphicon-text-width:before{
    content:"\e051"
}
.glyphicon-align-left:before{
    content:"\e052"
}
.glyphicon-align-center:before{
    content:"\e053"
}
.glyphicon-align-right:before{
    content:"\e054"
}
.glyphicon-align-justify:before{
    content:"\e055"
}
.glyphicon-list:before{
    content:"\e056"
}
.glyphicon-indent-left:before{
    content:"\e057"
}
.glyphicon-indent-right:before{
    content:"\e058"
}
.glyphicon-facetime-video:before{
    content:"\e059"
}
.glyphicon-picture:before{
    content:"\e060"
}
.glyphicon-map-marker:before{
    content:"\e062"
}
.glyphicon-adjust:before{
    content:"\e063"
}
.glyphicon-tint:before{
    content:"\e064"
}
.glyphicon-edit:before{
    content:"\e065"
}
.glyphicon-share:before{
    content:"\e066"
}
.glyphicon-check:before{
    content:"\e067"
}
.glyphicon-move:before{
    content:"\e068"
}
.glyphicon-step-backward:before{
    content:"\e069"
}
.glyphicon-fast-backward:before{
    content:"\e070"
}
.glyphicon-backward:before{
    content:"\e071"
}
.glyphicon-play:before{
    content:"\e072"
}
.glyphicon-pause:before{
    content:"\e073"
}
.glyphicon-stop:before{
    content:"\e074"
}
.glyphicon-forward:before{
    content:"\e075"
}
.glyphicon-fast-forward:before{
    content:"\e076"
}
.glyphicon-step-forward:before{
    content:"\e077"
}
.glyphicon-eject:before{
    content:"\e078"
}
.glyphicon-chevron-left:before{
    content:"\e079"
}
.glyphicon-chevron-right:before{
    content:"\e080"
}
.glyphicon-plus-sign:before{
    content:"\e081"
}
.glyphicon-minus-sign:before{
    content:"\e082"
}
.glyphicon-remove-sign:before{
    content:"\e083"
}
.glyphicon-ok-sign:before{
    content:"\e084"
}
.glyphicon-question-sign:before{
    content:"\e085"
}
.glyphicon-info-sign:before{
    content:"\e086"
}
.glyphicon-screenshot:before{
    content:"\e087"
}
.glyphicon-remove-circle:before{
    content:"\e088"
}
.glyphicon-ok-circle:before{
    content:"\e089"
}
.glyphicon-ban-circle:before{
    content:"\e090"
}
.glyphicon-arrow-left:before{
    content:"\e091"
}
.glyphicon-arrow-right:before{
    content:"\e092"
}
.glyphicon-arrow-up:before{
    content:"\e093"
}
.glyphicon-arrow-down:before{
    content:"\e094"
}
.glyphicon-share-alt:before{
    content:"\e095"
}
.glyphicon-resize-full:before{
    content:"\e096"
}
.glyphicon-resize-small:before{
    content:"\e097"
}
.glyphicon-exclamation-sign:before{
    content:"\e101"
}
.glyphicon-gift:before{
    content:"\e102"
}
.glyphicon-leaf:before{
    content:"\e103"
}
.glyphicon-fire:before{
    content:"\e104"
}
.glyphicon-eye-open:before{
    content:"\e105"
}
.glyphicon-eye-close:before{
    content:"\e106"
}
.glyphicon-warning-sign:before{
    content:"\e107"
}
.glyphicon-plane:before{
    content:"\e108"
}
.glyphicon-calendar:before{
    content:"\e109"
}
.glyphicon-random:before{
    content:"\e110"
}
.glyphicon-comment:before{
    content:"\e111"
}
.glyphicon-magnet:before{
    content:"\e112"
}
.glyphicon-chevron-up:before{
    content:"\e113"
}
.glyphicon-chevron-down:before{
    content:"\e114"
}
.glyphicon-retweet:before{
    content:"\e115"
}
.glyphicon-shopping-cart:before{
    content:"\e116"
}
.glyphicon-folder-close:before{
    content:"\e117"
}
.glyphicon-folder-open:before{
    content:"\e118"
}
.glyphicon-resize-vertical:before{
    content:"\e119"
}
.glyphicon-resize-horizontal:before{
    content:"\e120"
}
.glyphicon-hdd:before{
    content:"\e121"
}
.glyphicon-bullhorn:before{
    content:"\e122"
}
.glyphicon-bell:before{
    content:"\e123"
}
.glyphicon-certificate:before{
    content:"\e124"
}
.glyphicon-thumbs-up:before{
    content:"\e125"
}
.glyphicon-thumbs-down:before{
    content:"\e126"
}
.glyphicon-hand-right:before{
    content:"\e127"
}
.glyphicon-hand-left:before{
    content:"\e128"
}
.glyphicon-hand-up:before{
    content:"\e129"
}
.glyphicon-hand-down:before{
    content:"\e130"
}
.glyphicon-circle-arrow-right:before{
    content:"\e131"
}
.glyphicon-circle-arrow-left:before{
    content:"\e132"
}
.glyphicon-circle-arrow-up:before{
    content:"\e133"
}
.glyphicon-circle-arrow-down:before{
    content:"\e134"
}
.glyphicon-globe:before{
    content:"\e135"
}
.glyphicon-wrench:before{
    content:"\e136"
}
.glyphicon-tasks:before{
    content:"\e137"
}
.glyphicon-filter:before{
    content:"\e138"
}
.glyphicon-briefcase:before{
    content:"\e139"
}
.glyphicon-fullscreen:before{
    content:"\e140"
}
.glyphicon-dashboard:before{
    content:"\e141"
}
.glyphicon-paperclip:before{
    content:"\e142"
}
.glyphicon-heart-empty:before{
    content:"\e143"
}
.glyphicon-link:before{
    content:"\e144"
}
.glyphicon-phone:before{
    content:"\e145"
}
.glyphicon-pushpin:before{
    content:"\e146"
}
.glyphicon-usd:before{
    content:"\e148"
}
.glyphicon-gbp:before{
    content:"\e149"
}
.glyphicon-sort:before{
    content:"\e150"
}
.glyphicon-sort-by-alphabet:before{
    content:"\e151"
}
.glyphicon-sort-by-alphabet-alt:before{
    content:"\e152"
}
.glyphicon-sort-by-order:before{
    content:"\e153"
}
.glyphicon-sort-by-order-alt:before{
    content:"\e154"
}
.glyphicon-sort-by-attributes:before{
    content:"\e155"
}
.glyphicon-sort-by-attributes-alt:before{
    content:"\e156"
}
.glyphicon-unchecked:before{
    content:"\e157"
}
.glyphicon-expand:before{
    content:"\e158"
}
.glyphicon-collapse-down:before{
    content:"\e159"
}
.glyphicon-collapse-up:before{
    content:"\e160"
}
.glyphicon-log-in:before{
    content:"\e161"
}
.glyphicon-flash:before{
    content:"\e162"
}
.glyphicon-log-out:before{
    content:"\e163"
}
.glyphicon-new-window:before{
    content:"\e164"
}
.glyphicon-record:before{
    content:"\e165"
}
.glyphicon-save:before{
    content:"\e166"
}
.glyphicon-open:before{
    content:"\e167"
}
.glyphicon-saved:before{
    content:"\e168"
}
.glyphicon-import:before{
    content:"\e169"
}
.glyphicon-export:before{
    content:"\e170"
}
.glyphicon-send:before{
    content:"\e171"
}
.glyphicon-floppy-disk:before{
    content:"\e172"
}
.glyphicon-floppy-saved:before{
    content:"\e173"
}
.glyphicon-floppy-remove:before{
    content:"\e174"
}
.glyphicon-floppy-save:before{
    content:"\e175"
}
.glyphicon-floppy-open:before{
    content:"\e176"
}
.glyphicon-credit-card:before{
    content:"\e177"
}
.glyphicon-transfer:before{
    content:"\e178"
}
.glyphicon-cutlery:before{
    content:"\e179"
}
.glyphicon-header:before{
    content:"\e180"
}
.glyphicon-compressed:before{
    content:"\e181"
}
.glyphicon-earphone:before{
    content:"\e182"
}
.glyphicon-phone-alt:before{
    content:"\e183"
}
.glyphicon-tower:before{
    content:"\e184"
}
.glyphicon-stats:before{
    content:"\e185"
}
.glyphicon-sd-video:before{
    content:"\e186"
}
.glyphicon-hd-video:before{
    content:"\e187"
}
.glyphicon-subtitles:before{
    content:"\e188"
}
.glyphicon-sound-stereo:before{
    content:"\e189"
}
.glyphicon-sound-dolby:before{
    content:"\e190"
}
.glyphicon-sound-5-1:before{
    content:"\e191"
}
.glyphicon-sound-6-1:before{
    content:"\e192"
}
.glyphicon-sound-7-1:before{
    content:"\e193"
}
.glyphicon-copyright-mark:before{
    content:"\e194"
}
.glyphicon-registration-mark:before{
    content:"\e195"
}
.glyphicon-cloud-download:before{
    content:"\e197"
}
.glyphicon-cloud-upload:before{
    content:"\e198"
}
.glyphicon-tree-conifer:before{
    content:"\e199"
}
.glyphicon-tree-deciduous:before{
    content:"\e200"
}
.glyphicon-cd:before{
    content:"\e201"
}
.glyphicon-save-file:before{
    content:"\e202"
}
.glyphicon-open-file:before{
    content:"\e203"
}
.glyphicon-level-up:before{
    content:"\e204"
}
.glyphicon-copy:before{
    content:"\e205"
}
.glyphicon-paste:before{
    content:"\e206"
}
.glyphicon-alert:before{
    content:"\e209"
}
.glyphicon-equalizer:before{
    content:"\e210"
}
.glyphicon-king:before{
    content:"\e211"
}
.glyphicon-queen:before{
    content:"\e212"
}
.glyphicon-pawn:before{
    content:"\e213"
}
.glyphicon-bishop:before{
    content:"\e214"
}
.glyphicon-knight:before{
    content:"\e215"
}
.glyphicon-baby-formula:before{
    content:"\e216"
}
.glyphicon-tent:before{
    content:"\26fa"
}
.glyphicon-blackboard:before{
    content:"\e218"
}
.glyphicon-bed:before{
    content:"\e219"
}
.glyphicon-apple:before{
    content:"\f8ff"
}
.glyphicon-erase:before{
    content:"\e221"
}
.glyphicon-hourglass:before{
    content:"\231b"
}
.glyphicon-lamp:before{
    content:"\e223"
}
.glyphicon-duplicate:before{
    content:"\e224"
}
.glyphicon-piggy-bank:before{
    content:"\e225"
}
.glyphicon-scissors:before{
    content:"\e226"
}
.glyphicon-bitcoin:before{
    content:"\e227"
}
.glyphicon-btc:before{
    content:"\e227"
}
.glyphicon-xbt:before{
    content:"\e227"
}
.glyphicon-yen:before{
    content:"\00a5"
}
.glyphicon-jpy:before{
    content:"\00a5"
}
.glyphicon-ruble:before{
    content:"\20bd"
}
.glyphicon-rub:before{
    content:"\20bd"
}
.glyphicon-scale:before{
    content:"\e230"
}
.glyphicon-ice-lolly:before{
    content:"\e231"
}
.glyphicon-ice-lolly-tasted:before{
    content:"\e232"
}
.glyphicon-education:before{
    content:"\e233"
}
.glyphicon-option-horizontal:before{
    content:"\e234"
}
.glyphicon-option-vertical:before{
    content:"\e235"
}
.glyphicon-menu-hamburger:before{
    content:"\e236"
}
.glyphicon-modal-window:before{
    content:"\e237"
}
.glyphicon-oil:before{
    content:"\e238"
}
.glyphicon-grain:before{
    content:"\e239"
}
.glyphicon-sunglasses:before{
    content:"\e240"
}
.glyphicon-text-size:before{
    content:"\e241"
}
.glyphicon-text-color:before{
    content:"\e242"
}
.glyphicon-text-background:before{
    content:"\e243"
}
.glyphicon-object-align-top:before{
    content:"\e244"
}
.glyphicon-object-align-bottom:before{
    content:"\e245"
}
.glyphicon-object-align-horizontal:before{
    content:"\e246"
}
.glyphicon-object-align-left:before{
    content:"\e247"
}
.glyphicon-object-align-vertical:before{
    content:"\e248"
}
.glyphicon-object-align-right:before{
    content:"\e249"
}
.glyphicon-triangle-right:before{
    content:"\e250"
}
.glyphicon-triangle-left:before{
    content:"\e251"
}
.glyphicon-triangle-bottom:before{
    content:"\e252"
}
.glyphicon-triangle-top:before{
    content:"\e253"
}
.glyphicon-console:before{
    content:"\e254"
}
.glyphicon-superscript:before{
    content:"\e255"
}
.glyphicon-subscript:before{
    content:"\e256"
}
.glyphicon-menu-left:before{
    content:"\e257"
}
.glyphicon-menu-right:before{
    content:"\e258"
}
.glyphicon-menu-down:before{
    content:"\e259"
}
.glyphicon-menu-up:before{
    content:"\e260"
}