<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/">
<head />
<body>
<wicket:panel>
    <div class="container-fluid content">
        <div class="row" id="dlg-header">
            <div class="col-sm-11 center"><h4 wicket:id="title" class="dlg-title">[title]</h4></div>
            <div class="col-sm-1"><a wicket:id="closeButtonTop"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
        </div>

        <div class="row" id="dlg-content">
            <div class="col-sm-12">
                <div wicket:id="content"></div>
            </div>
        </div>

        <div class="row" id="dlg-footer">
            <div class="col-sm-12 right">
                <button wicket:id="closeButtonBottom" class="btn btn-primary" type="button"><span wicket:id="closeButtonBottomLbl">[close]</span></button>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
