
$navbar-default-bg: rgb(238, 238, 238);
$navbar-default-border: darken($navbar-default-bg, 10%);
$navbar-default-color: rgb(119, 119, 119);

#footer {
    min-height: 10em;
    padding-top: 30px;
    border-top: 1px solid $navbar-default-border;
    background-color: $navbar-default-bg;
    color: $navbar-default-color;

    .version-info {
        color: lighten($navbar-default-color, 15%);
    }

    .footer-fineprint {
        &, & a {
            color:$navbar-default-color;
        }
    }

}
