<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/">
<head />
<body>
    <wicket:panel>
        <div style="display: none" wicket:id="info_dialog"></div>
        <a wicket:id="type" class="pid-label">
            <span wicket:id="type_lbl" class="pid-label-badge">[type]</span>
        </a>       
        <a wicket:id="link" target="_blank"> 
            <span wicket:id="label"></span>
         
        </a>
    </wicket:panel>
</body>
</html>
