<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
">
    <!-- 
    Spring configuration for Virtual Collection Registry 
    -->
    
    <!-- 
    Bootstrap component scanning, so that Spring picks up @Component, 
    @Service, @Repository annotations on classes and creates beans for these, as
    well as @Configuration annotations for classes defining beans and properties
    -->
    <context:component-scan base-package="eu.clarin.cmdi.virtualcollectionregistry" />

    <!-- 
    Will generate a factory for virtual collection validator, based on the 
    prototype bean for the VirtualCollectionValidator implementation
    see http://docs.spring.io/spring/docs/4.0.5.RELEASE/javadoc-api/org/springframework/beans/factory/config/ServiceLocatorFactoryBean.html
    -->
    <bean id="validatorFactory"
          class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">
        <property name="serviceLocatorInterface" value="eu.clarin.cmdi.virtualcollectionregistry.service.VirtualCollectionValidatorFactory"/>
    </bean>
                
</beans>
